<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tweety</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <form action="/auth/login" method="post">
    <h2>Login</h2>
 
    <label for="email">Email<input type="text" name="email"></label><br><br>
    <label for="password">Password<input type="password" name="password"></label><br><br>
    <button type="submit">Log In</button>
    </form>
</body>
</html>